* {
  font-family: "Roboto", sans-serif;
  font-family: "Noto Sans", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  min-width: 360px;
}
