.portfolio {
  width: 100vw; /* height: 100vh; */
  padding: 0 0 0 0;
  margin: 0;
  background-color: #fcfcfc;
  position: relative;
}

.portfolio-title {
  color: rgb(250, 250, 250);
  margin: 0 !important;
  padding: 0;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 3px #ff5722 solid;
  z-index: 1000;
}

.portfolio-title p {
  font-size: 3em;
  margin: 0;
  padding: 0;
  padding-top: 0;
  color: black;
  line-height: 1em;
}

.card {
  width: 60vw;
  min-width: 250px;
  margin: 2% auto 2% auto !important;
  text-align: left;
  /* margin: 5%; */
}

.card-wrapper {
  /* padding: 0 !important; */
  padding-top: 15%;
  padding-bottom: 10px;
  /* margin: 0 !important; */
  /* margin-top: 20% !important; */
  /* display: flex; */
}

.card-reveal {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

/* .cards {
  padding: 0;
  margin: 0;
  display: block;
} */

/* .card-image>img {
  width: auto;
  height: 100%;
  background-size: cover;
} */

@media screen and (min-width: 800px) {
  .card {
    max-width: 400px;
    display: inline-block;
    overflow: hidden !important;
  }

  .card-wrapper {
    padding-top: 5%;
  }
}
