body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #595858;
  background-image: url(../img/portrait3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
}

/* MOBILE VIEW FIRST */
.grid {
  display: grid;
  /*grid-gap: 5px;*/
  grid-template-columns: 1fr;
  grid-template-areas:
  "header"
  "about-text"
  /*"about-cloud"*/
  "skills"
  "portfolio"
  "contact"
  "map"
  "footer";
}

.header {
  grid-area: header;
  background-color: black;
  height: 30vh;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  position: relative;
    opacity: 0.9;
}

.about-text {
  grid-area: about-text;
  color: white;
  /*background-image: url(../img/portrait3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;*/
  height: 70vh;
}

.portfolio {
  grid-area: portfolio;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  height: 100vh;
}

.skills {
  grid-area: skills;
  /*background-color: rgba(0, 0, 0, 1);*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 4px;
  padding: 0;
  margin: 0;
}

.contact {
  grid-area: contact;
  background-color: #4b4c4c;
  overflow: hidden;
}

.map {
  grid-area: map;
  height: 100px;
  background-color: grey;
  opacity: 1;
  filter: grayscale(100%);
  filter: contrast(200%);
}

.footer {
  grid-area: footer;
  background-color: #4b4c4c;
  border-right: white solid 10px;
  border-top: white solid 1px;
}

.portfolio-item.one, .portfolio-item.two, .portfolio-item.three, .portfolio-item.five, .portfolio-item.six, .portfolio-item.seven  {
  background-color: white;
  background-repeat: no-repeat;
  background-image: url("http://res.cloudinary.com/alxt/image/upload/v1505853407/Coding/ilya-pavlov-87438.jpg");
  background-size: cover;
}

.portfolio-item.four {
  background-color: grey;
  background-size: cover;
  /*align-self: center;*/
  /*align-items: center;*/
  /*vertical-align: middle;*/
}

#portfolioText {
  /*background-color: transparent;*/
  /*align-self: center;*/
  /*vertical-align: middle;*/
  text-align: center;
  font-size: 7vw;

}
#social {
  float: left;
}

#logoNodeJs, #logoJs, #logoJava, #logoHtml, #logoCss, #logoJq{
  background-color: transparent;
  filter: grayscale(100%);
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
}

#logoNodeJs:hover, #logoJs:hover, #logoJava:hover, #logoHtml:hover, #logoCss:hover, #logoJq:hover{
  background-color: transparent;
  filter: grayscale(0%);
}

.footer p, .footer i {
  margin: 0;
  padding: 0;
  text-align: center;
  opacity: 0.7;
  color: white;
}

a {
  text-decoration: none;
}

.contact h1 {
  color: white;
  text-align: center;
  font-size: 8vw;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  padding: 0;
  margin: 0;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}

.map iframe {
  filter: grayscale(70%);
}

.about-text h1 {
  /*border-right: solid 10px red;*/
  /*border-left: solid 10px red;*/
  text-align: center;
  margin: 10px 20px 0 20px;
  padding: 0;
  font-size: 6vw;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-text p {
  text-align: center;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .closeBtn a:focus {
  color: #f1f1f1;
}

.overlay .closeBtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.fa.fa-bars {
  font-size: 6vh;
  padding: 20px;
  z-index: 99;
  color: red;
  position: fixed;
  top: 0;
  right: 45px;
}

#myBigScreenNav {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}
.logo {
  height: 80%;
  margin: 4vh 0 0 4vw;
  background-image: url(../img/at-logo-v3.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 425px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "header header header"
    "about-text about-text about-text"
    "skills skills skills"
    "portfolio portfolio portfolio"
    "contact contact contact"
    "map map map"
    "footer footer footer";
  }

  .portfolio {
    grid-auto-flow: dense;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
  }

  .portfolio-item.one {
    grid-row: span 2;
    grid-column: span 4;
  }
  .portfolio-item.two {
    grid-row: span 2;
    grid-column: span 2;
  }
  .portfolio-item.three {
    grid-row: span 2;
    grid-column: span 2;
  }
  .portfolio-item.four {
    grid-row: span 2;
    grid-column: span 2;
  }
  .portfolio-item.five {
    grid-row: span 2;
    grid-column: span 2;
  }
  .portfolio-item.six {
    grid-row: span 2;
    grid-column: span 2;
  }
  .portfolio-item.seven {
    grid-row: span 2;
    grid-column: span 4;
  }
  #myNav, #faBars {
    display: none;
  }

  #myBigScreenNav {
    display: block;
    padding: 0;
    margin: 0;
    border-left: white solid 10px;
    border-bottom: white solid 1px;
    color: white;
    z-index: 300;
    position: fixed;
    width: 100%;
  }
  #myBigScreenNav ul {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: right;
    padding: 5px 5px 0 5px;
  }
  #myBigScreenNav ul li{
    list-style-type: none;
    display: inline;
    font-size: 23px;
    margin-right:  5px;
    border-radius: 4px;
  }
  #myBigScreenNav ul li a:hover {
    background-color: #4b4c4c;
    border-radius: 3px 3px 0 0;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .portfolio {
    margin: 2vh 5vw;
    grid-gap: 5px;
  }
}
